#validate{
	width: 500px;
    height: 380px;
    margin: 5% 0% 0% 30%;
    border: 1px solid #333;
    box-shadow: 10px 10px 10px 1px black;
    padding: 0% 0% 0% 7%;
}
.ip{
	width: 80%;
    height: 32px;
}
#submit{
	margin: 5% 0% 0% 0%;
	width: 20%;
	height: 38px;
	background: #333;
	color: white;
}
#error{
	margin: 0% 0% 1% 0%;
    color: red;
    width: 150px;
    height: 20px;
}
#error1{
	margin: 0% 0% 1% 0%;
	color: red;
	width: 192px;
	height: 20px;
}
#gt{
	margin: 0% 0% 1% 0%;
	color: red;
	width: 166px;
	height: 20px;
}