#container{
	width: 1000px;
	height: auto;
	margin: 5px 0px 0px 150px;
}
ul li{
	list-style-type: none;
	float: left;
}

ul li a{
	text-decoration: none;
}
#head{
	width: 1000px;
	height: 200px;
}
#banner{
	width: 1000px;
	height: 80px;
	background-color: #cd1818;
	padding: 0px 0px 15px 0px;
}
#head-left{
	width: 150px;
	height: 80px;
	float: left;
}
#logo{
	width: 110px;
    margin: 20px 0px 0px 20px;
    height: 46px;
    box-shadow: 5px 5px 5px #666;
    opacity: 0.6;
}
#search{
	width: 550px;
	height: 80px;
	float: left;
}
#timkiem{
	width: 400px;
    height: 25px;
    margin: 30px 0px 0px 20px;
    padding-left: 15px;
    float: left;
    text-align: center;
}
button{
	margin: 30px 0px 0px 0px;
    width: 80px;
    height: 31px;
    border: 1px solid #333;
    background-color: #333;
}
#img-search{
	width: 60px;
	height: 15px;
}
#head-right{
	width: 300px;
	height: 80px;
	float: left;
}
#head-right ul{
	margin: 35px 1px 0px 0px;
}
#head-right ul li{
	padding: 5px 8px 0px 4px;
}
#head-right ul li a{
	color: white;
}
.icon-head-right{
	width: 25px;
	height: 20px;
	margin: -5px 0px 0px 20px;
}.name-icon{
	margin: 5px 0px 0px 0px;
}
#head-right ul li a:hover{
	color:red;
}
/* end banner*/

#menu{
	width: 1000px;
	height: auto;
	float: left;
}
#menu ul{
	margin: 0px 0px 0px 0px;
	padding: 0px;
}
#menu ul li{
	list-style-type: none;
	float: left;
	padding:3px 35px 2px 25px;
	background-color:  #333;
	text-align: center;
	line-height: 40px;
}
.icon-menu{
	width: 30px;
	height: 25px;
	margin: 5px 0px 0px 0px;
}	
.name-icon-menu{
	margin: 0px 0px 0px 2px;
}
#menu ul li a{
	text-decoration: none;
	color: white;
}
#menu ul li a:hover{
	color:red;
}
#menu ul li ul{
	display: none;
    position: absolute;
    width: 360px;
    margin-left: -26px;
    border: #ACACAC solid 2px;
    z-index: 10;
    height: auto;
}
#menu ul li ul li{
	width: 120px;
	background-color: white;
	float: left;
	text-align:center;
}
#menu ul li:hover ul {
	display: block;
}
#menu ul li ul li a{
	color: black;
}
#footer{
	width: 1000px;
	height: 220px;
	border: 2px solid #333;
}
.footer-ul{
	width: 330px;
	height: auto;
	float: left;
}
.footer-left li{
	width: 300px;
	height: 30px;
	background-color: #fff;
	text-align: justify;
}
/*.footer-left li a{
	color: white;
}*/
.footer-left li a:hover{
	color:red;
}
#footer-bottom{
	margin: 5px 0px 0px 350px;
}
.img-footer-bottom{
	width: 45px;
	height: 45px;
}
#footer-bottom img:hover{
		transition: all 0.25s;
		width: 65px;
		height: 65px;
}
