p {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
}
.calculator{
	margin: 0 auto;
	width: 425px;
	background-color: #333333;
	height: 480px;
}
.reuslt{
	height: 35%;
	text-align: right;
	color: white;
	font-size: 35px;
}
#reuslt{
	height: 98%;
}
.row{
	height:13%;
}
.btn{
	width: 24.5%;
    height: 96%;
    background-color: #bfbfbf;
    float: left;
    text-align: center;
    border: 1px solid #333333;
}
.btn-orange{
	width: 24.5%;
    height: 96%;
    background-color: #ff9900;
    float: left;
    text-align: center;
    border: 1px solid #333333;
}
.btn-orange:hover{
	background-color: #ffb84d;
}
.btn:hover{
	background-color: #e6e6e6;;
}
