body {
	font-family:Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
	font-size:100%;
}
/*ul li{
	float: left;
	padding: 5px;
	border: 1px solid yellow;
	list-style: none;
}
ul li a{
	text-decoration: none;
}*/
#menu{
	width: 1300px;
	height: 60px;
	float: left;
	font-family: 'Anton', sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
    background: #FFFFFF;
}
ul li{
	list-style-type: none;
	float: left;
	font-size: 17px;
    padding: 0px 32px 0px 23px;
    letter-spacing: 0.32px;
    line-height: 30px;
}
ul li a{
	text-decoration:none;
	color: #333333;
}
.img-menu{
	float: left;
	margin: 15px 0px 0px 0px;
}
#text-li1{
	float: left;
    margin: 15px 0px 0px 15px;
}
ul li .a1-menu{
	color: #D5A353;
}
 ul .li1-menu{
	background: #D5A353;
    width: 132px;
    height: 60px;
    margin: -15.6px 0px 0px 4px;
}
ul  li .a2-menu:hover{
	color: #D5A353;
}
.slicknav_menu {
	display:none;
}
.slicknav_menu {
    font-size: 16px;
    box-sizing: border-box;
    background: #4c4c4c;
    padding: 5px;
}

@media screen and (max-width: 768px) {
	ul li{
		float: none;
		width: 31%;
   		text-align: center;
    	border: 1px solid #333333;
	}
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
	ul .li1-menu{
		margin: 2.4px 0px 0px 4px;
		height:50px;
	}	
	ul .li1-menu{
		background: #D5A353;
   		width: 31%;
    	height: 41px;
    	margin: 0% 0% 0% 0%;
    	padding: 0px 0px 5px 0px;
	}
	.text1-li{
		float: left;
   		margin: 0% 0% 0% 6%;
    	position: absolute;
	}
	.img-menu{
		position: absolute;
    	margin: 0% 0% 0% -11%;
	}
	#menu ul  li .a2-menu:hover{
		color: #D5A353;
	}
}