@font-face{
	font-family: 'Anton';
	src: url('../font/Anton-Regular.ttf');
}
#container{
	width: 100%;
	height: auto;
	margin: auto;
}
#head{
	width: 100%;
	height: auto;
}
#banner{
	width: 100%;
	height: 80px;
	background: #000000;
}
#banner-left{
	width: 33%;
	height: 80px;
	float: left;
}
.text-banner-left{
	font-size: 16px;
    color: #ADB0B6;
    line-height: 18px;
    margin: 7% 0% 0% 24%;
}
#banner-logo{
	width: 33%;
	height: 80px;
	float: left;
}
#img-logo{
	width: 28%;
    height: auto;
    margin: 1% 0% 0% 38%;
}
#banner-right{
	width: 33%;
	height: 80px;
	float: left;
}
#icon-login{
	float: left;
	margin: 2% 0% 0% 14%;
}
#icon-register{
	float: left;
	margin: 2% 0% 0% 0%;
}
#menu{
	width: 100%;
	height: 60px;
	float: left;
	font-family: 'Anton', sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
    background: #FFFFFF;
}
#menu ul li{
	list-style-type: none;
	float: left;
	font-size: 17px;
   	padding: 0% 3% 0% 2%;
    letter-spacing: 0.32px;
    line-height: 30px;
}
#menu ul li a{
	text-decoration:none;
	color: #333333;
}
.img-menu{
	float: left;
	margin: 13% 0% 0% 0%;
}
#text-li1{
	float: left;
    margin: 12% 0% 0% 4%;
}
#menu ul li .a1-menu{
	color: #D5A353;
}
#menu ul .li1-menu{
	background: #D5A353;
    width: 8%;
    height: 59px;
    margin: -1.3% 0% 1% 0%;
}
#menu ul  li .a2-menu:hover{
	color: #D5A353;
}
#slider{
	width: 100%;
	height: 700px;
}
#img1-slider{
	width: 100%;
	height: 640px;	
}
#prev{
	text-transform: uppercase;
    top: 63%;
    left: 1%;
    position: absolute;
}
#next{
	text-transform: uppercase;
	top: 63%;
	right:1%;
	position: absolute;
}
.img-btn-slider{
	width: 50px;
}
#text-slider{
	width: 100%;
	height: 700px;	
	background:url("../img/slider/img1-slider.png");
}
#text-img-slider{
	letter-spacing: 1.14px;
    line-height: 88px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    color: #FFFFFF;
    width: 469px;
    padding: 98px 0px 0px 249px;
    display: inline-block;
}
#phone{
	width: 60%;
	height: 150px;
	position: absolute;
    top: 98%;
    left: 30%;
}
#title1-phone{
	width: 63%;
	height: 75px;
	float: left;
	background-color: white;
}
#title2-phone{
	width: 63%;
	height: 75px;
	float: left;
	background-color: #000000;
	position: relative;
}
#img-phone{
	float: left;
	height: 67%;
	margin: 2% 0% 0% 3%;
}
#text1-phone{
	width: 70%;
    height: 47px;
    margin: 9px 0px 0px 0px;
    border: 1px solid white;
}
#text2-phone{
	width: 50%;
	font-family: 'Anton', sans-serif;
    font-size: 33px;
    color: #D5A353;
    letter-spacing: 0.61px;
    line-height: 71px;
    margin: 0px 0px 0px 84px;
}
#a-phone{
	float: left;
	margin: 0% 0% 0% 83%;
	width: 50px;
}
#img2-phone{
	width: 50px;
	position:absolute;
    top: 14%;
}
#text1-phone::placeholder{
	font-family: 'Anton', sans-serif;
	font-size: 20px;
	line-height: 40px;
}
/*end head*/
#main{
	width: 100%;
	height: auto;
}
#contact{
	width: 100%;
	height: 161px;
	background-color: #747474;
}
.contact-div{
	width: 33%;
	height: 160px;
	float: left;	
}
.text1-contact{
	font-size: 17px;
    color: #D5A353;
    letter-spacing: 0.32px;
    text-align: center;
    line-height: 23px;
    font-family: 'Anton', sans-serif;
}
.text2-contact{
	font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0.28px;
    text-align: center;
    line-height: 22px;
    font-family: 'Anton', sans-serif;
}
.text3-contact{
	font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0.46px;
    text-align: center;
    line-height: 32px;
    font-family: 'Anton', sans-serif;
}
.text4-contact{
	font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.25px;
    text-align: center;
    line-height: 21px;
    font-family: 'Anton', sans-serif;
}
/*end contact*/
#price{
	width: 100%;
	height: 436px;
}
#title-price{
	width: 53%;
    height: 50px;
    font-family: 'Anton', sans-serif;
    font-size: 38px;
    letter-spacing: 0.61px;
    line-height: 9px;
    color: #000000;
    text-align: justify;
    float: left;
    margin: 3% 0% 0% 45%;
}
.home-price{
	width: 100%;
	height: 248px;
	margin: 2% 0% 0% 0%;
}
.home1-price{
	width: 100%;
	height: 150px;
	margin: 2% 0% 0% 0%;
}
.list1-price{
	width: 25%;
	height: 147px;
	float: left;
}
.img1-price{
	width: 39px;
	height: 50px;
	margin: 0% 0% 0% 44%;
}
.text1-price{
	font-size: 17px;
    color: #000000;
    letter-spacing: 0.32px;
    text-align: center;
    line-height: 11px;

}
.text2-price{
	font-family: 'Anton', sans-serif;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0.46px;
    text-align: center;
    line-height: 32px;
}
/*end price*/
#product{
	width: 100%;
	height: 686px;
	background:url("../img/product/img4-product.png");
}
#slider-product{
	width: 70%;
	height: 576px;
	margin: 0% 0% 0% 14%;
}
#text1-product{
	font-size: 32px;
    letter-spacing: 0.61px;
    padding: 52px 0px 0px 0px;
    line-height: 42px;
    text-align: center;
	color: #000000;
	font-family: 'Anton', sans-serif;
}
.text2-product{
	text-decoration:none;
	font-size: 16px;
    color: #000000;
    letter-spacing: 0.32px;
    text-align: center;
    line-height: 24px;
    margin: 0px 0px 0px 31px;
}
.text3-product{
	font-family: 'Anton', sans-serif;
    font-size: 27px;
    color: #D5A353;
    letter-spacing: 0.46px;
    text-align: center;
    line-height: 0px;
}
.div-btn-product{
	border: 1px solid #D5A353;
    width: 9%;
    float: left;
    padding: 2% 2% 2% 2%;
    margin: 0% 0% 0% 43%;
    background: #D5A353;
}
.btn-product{
	text-align: center;
    text-decoration: none;
    font-size: 17px;
   	margin: 0% 0% 0% 12%;
    height: 20px;
    color: #000000;
    font-family: 'Anton', sans-serif;
}
.div-btn-product:hover{
	margin: 1% 0% 0% 43%;
    opacity: 0.8;
}
/*end product*/
#service{
	width: 100%;
	height: 640px;
	background:url("../img/service/img1-service.png");
}
#title1-service{
	color: #FFFFFF;
	font-size: 32px;
    letter-spacing: 0.61px;
    line-height: 42px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    padding: 3% 0% 0% 0%;
}
.home-service{
	width: 28%;
    height: 200px;
    float: left;
    margin: 0% 0% 0% 4%;
}
.title2-service{
	font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 0.32px;
    line-height: 24px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}
.div-btn-service{
	border: 1px solid #D5A353;
    width: 9%;
    float: left;
    background: #D5A353;
    padding: 2%;
    margin: 15% 0% 0% 44%;
	
}
.btn-service{
	text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin: 0% 0% 0% 16%;
    height: 20px;
    color: #000000;
    font-family: 'Anton', sans-serif;
}
.div-btn-service:hover{
	 margin: 16% 0% 0% 44%;
    opacity: 0.8;
}
/* end service*/
#clip{
	width: 100%;
	height: 482px;
}
#title1-clip{
	color: #000000;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0.61px;
    line-height: 42px;
    font-family: 'Anton', sans-serif;
} 
.home-clip{
	width: 28%;
    height: 300px;
    float: left;
    margin: 0% 0% 0% 4%;
}
.img-clip{
	width: 100%;
    height: 100%;
    opacity: 0.9;
}
.text1-clip{
	text-decoration: none;
	font-size: 17px;
    color: #000000;
    letter-spacing: 0.32px;
    line-height: 25px;
    font-family: 'Anton', sans-serif;
}
/*end clip*/
#commit{
	width: 100%;
	height: 400px;
	background-color: #F9F6F2;
}
.home-commit{
	width: 50%;
	height: 400px;
	float: left;
	margin: 3% 0% 0% 0%;
}
.text1-commit{
	font-size: 32px;
    letter-spacing: 0.61px;
    line-height: 42px;
    color: #000000;
    font-family: 'Anton', sans-serif;
    margin: 0% 0% 0% 12%;
}

.tab-wrapper{
    width: 500px;
    margin: 10px auto;
}
.tab-wrapper ul{
    overflow: hidden;
    background:#D8AA61;
    margin: 0px;
    padding: 0px;
}
.tab-wrapper ul li{
    float: left;
    list-style: none;
  	padding: 10px 20px;
    background: #D8AA61;
    border-radius: 10px 10px 0px 0px;
    margin-right: 37px;
    margin-top: 15px;
}
.tab-wrapper ul li.active{
    background: #Fff;
}
.tab-wrapper ul li.active a{
    color: #000000;
    font-family: 'Anton', sans-serif;
}
.tab-wrapper ul li a{
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
}
.tab-content{
    padding: 20px;
    background:#fff;
}
.tab-item{
    display: none;
}
.title-tab{
	font-size: 17px;
    color: #000000;
    letter-spacing: 0.32px;
    line-height: 23px;
    font-family: 'Anton', sans-serif
}
.text1-tab{
	font-size: 17px;
    color: #000000;
    line-height: 30px;
}
.commit-address{
	width: 93%;
	height: 120px;
	border-bottom:1px solid black;
	float: left; 
	background-color: #fff;
	margin: 2% 0% 0% 0%;
}
.commit2-address{
	width: 93%;
	height: 120px;
	float: left; 
	background-color: #fff;
}
.home-address{
	width: 100%;
	height: 27px;
}
.img-address{
	width: 13%;
    margin: 0% 0% 0% 5%;
    float: left;
    height: 121%;
}
.text2-commit{
	font-size: 17px;
    color: #000000;
    line-height: 18px;
    font-weight: 600;
}
.text3-commit{
	font-size: 17px;
    color: #000000;
    line-height: 30px;
}
.title2-commit{
	border-bottom: 1px solid black;
    width: 100%;
    height: 225%;
}
/*end commit*/
#footer{
	width: 100%;
	font-family: 'Roboto-Light', sans-serif;
    background: #0F0F0F;
    height: 200px;
    padding: 0% 0% 5% 0%;
}
#home1-footer{
	width: 25%;
	height: 200px;
	float: left;
}
.img1-footer{
	width: 28%;
    margin: 0% 0% 0% 29%;
    height: auto;
}
.text1-footer{
	opacity: 0.6;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.25px;
    line-height: 22px;
    margin: 1% 0% 0% 29%;
}
.img2-footer{
	width: 20%;
    height: auto;
    margin-left: 5px;
}
#home2-footer{
	width: 75%;
	height: 200px;
	float: left;
}
.home3-footer{
	width: 50%;
	height: 200px;
	float: left;
}
#text2-footer{
	font-family: 'Roboto-Medium', sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.25px;
    line-height: 20px;
    font-weight: 500;
    margin: 0% 0% 1% 6%;
}
.title-footer{
	width: 100%;
	height: 58px;
	float: left;
}
.text3-footer{
	opacity: 0.6;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.25px;
    line-height: 22px;
    margin: 0% 0% 0% 6%;
}
/*end footer*/
@media screen and (max-width:1216px){
	#menu ul li{
		padding: 0% 2% 0% 3%;
	}
	#text-li1 {
    	margin: 14% 0% 0% 4%;
    }	
    #phone {
    	top: 134%;;
	}
    #a-phone{
    	margin: 0% 0% 0% 89%;
    }
    #title-price{
    	 margin: 3% 0% 0% 45%;
    }
    .div-btn-product{
    	margin: 0% 0% 0% 42%;
    	padding: 2% 2% 2% 2%;
    }
    .div-btn-service {
    	padding: 2% 2% 2% 2%;
    	margin: 15% 0% 0% 44%;
    }
}
/*@media screen and (max-width:1214px)*/

@media screen and (max-width:1179px){
	#menu ul li {
    	padding: 0% 2% 0% 2%;
	}
	.div-btn-service {
    	padding: 2% 2% 2% 2%;
   		margin: 19% 0% 0% 44%;
   	}	

   	.div-btn-service {
    	padding: 2% 2% 2% 2%;
    	margin: 23% 0% 0% 44%;
	}
	.img-service{
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width:1065px){
	#text-li1 {
    		margin: -33% 0% 0% 29%;
	}
}
@media screen and (max-width:1065px){
	#text-li1 {
    		margin: -33% 0% 0% 27%;
	}
}

@media screen and (max-width:1024px){
	#banner-left{
		width: 33%;
		height: 80px;
		float: left;
	}
	.text-banner-left {
	    margin: 32px 0px 0px 55px;
	    width: 81%;
	}
	#banner-logo {
    	width: 33%;
    	height: 80px;
    	float: left;
    }
    #img-logo {
    	margin: 9px 0px 0px 114px;
    }
    #banner-right {
   		width: 33%;
   	 	height: 80px;
    	float: left;
	}	
	#icon-login{
		margin: 0px 0px 0px 17px;
	}
	#menu ul li {
		padding:0px 24px 0px 1px;
	}
	#text-li1 {	
	    margin: -26px 0px 0px 21px;
	}
	#phone{
		left: 324px;
    	top: 629px;
	}
	#text2-phone{
		margin: 0px 0px 0px 39px;
	}
	#img2-phone{
		right: 0px;
	}
	#next{
		top: 63%;
    	right: 1%;
    	text-transform: uppercase;
    	position: absolute;
	}
	#prve{
		text-transform: uppercase;
    	top: 63%;
    	left: 1%;
   		position: absolute;
	}
	#title-price{
		margin: 42px 0px 0px 468px;
	} 
	.text1-price{
		margin: 10px 0px 0px 66px;
	}
	.text2-price{
		margin: 17px 0px 0px 56px;
	}
	#product{
		height: 657px;
	}
	#slider-product{
		height: auto;
		margin: 0px 0px 0px 186px;
	}
	.div-btn-product{
		margin: 0px 0px 0px 475px;
		padding: 18px 33px 23px 8px;
	}
	.text2-product{
		margin: 0px 0px 0px 0px;
	}
	.home-service{
		margin: 0px 0px 0px 41px;
	}
	.div-btn-service{
		margin: 207px 0px 0px 455px;
		padding: 18px 23px 23px 8px;
	}
	#title1-service{
		padding: 26px 0px 0px 0px;
	}
	.title2-service{
		font-size: 16px;
	}
	.img-service{
		width: 100%;
    	height: 100%;
	}
	#commit{
		height: 430px;
	}
	.tab-wrapper{
		width: 90%;
	}
	.tab-wrapper ul li{
		padding: 10px 15px;
	}
	.text1-commit{
		margin: 0px 0px 0px 28px;
	}
	.commit-address{
		width: 90%;
		margin: 12px 0px 0px 23px;
	}
	.commit2-address{
		width: 90%;
		margin: 0px 0px 0px 23px;
	}
	.img-address{
		width: 12%;
		margin: 0px 0px 0px 16px;
	}
	.text2-commit,.text3-commit {
   		 font-size: 15px;
	}
	#footer{
		padding: 37px 0px 50px 0px;
	}
	.text1-footer,.text3-footer {
    	opacity: 0.6;
    	font-size: 11px;
    }
    .img2-footer{
    	width: 29%;
    }
    iframe{
    	border: 1px solid #0F0F0F;
   		overflow: hidden;
    	width: 350px;
    }
}
/*end @media screen and (max-width:1024px)*/
/*@media screen and (max-width:768px){
	#container{
		width: 120%;
	}
}
@media screen and (max-width:768px){
	#container{
		width: 120%;
	}
}*/
