*{
	margin: 0px;
	padding: 0px;
}
#container{
	width: 1000px;
	height: auto;
	margin: 10px 0px 10px 150px;
}
	#head{
		width: 1000px;
		height: 100px;
		background: #FF8C00;
		color: #F8F8FF;
		margin: 5px 5px;
	}

	#main{
		width: 1000px;
		height: 300px;
	}
		#nav{
			width: 250px;
			height: 300px;
			background: #FF8C00;
			color: #F8F8FF;
			float: left;
			margin: 5px 5px;

		}
		#article{
			width: 500px;
			height: 300px;
			background: #FF8C00;
			color: #F8F8FF;
			float: left;
			margin: 5px 5px;
		}

		#ads{
			width: 220px;
			height: 300px;
			background: #FF8C00;
			color: #F8F8FF;
			float: left;
			margin:5px 0px 5px 5px;
		}
	#footer{
		width: 1000px;
		height:100px;
		background: #FF8C00;
		color: #F8F8FF;
		margin: 15px 5px 5px 5px;
	}	