*{
		margin: 0px;
		padding: 0px;
}
#container{
	width: 1000px;
	height: auto;
	border: 3px groove #FF1493;
	margin: 10px 0px 10px 80px;
}
#head{
	width: 1000px;
	height: 200px;
	background: #1E90FF;
	color: #F8F8FF;

}
#main{
	width: 1000px;
	height: auto;
}

	#main-content{
		width: 1000px;
		height: 200px;
		margin: 10px 0px 10px 150px;
		color: #F8F8FF;
	}

		#content{
			width: 450px;
			height: 200px;
			background:#DAA520;
			float: left;
			margin-right: 5px;
		}

		#sidebar{
			width: 200px;
			height: 200px;
			float:left;
			background: #1E90FF;
		}
	#main-twin{
		width: 1000px;
		height: 200px;
		margin: 10px 10px 5px 150px;
		color: #F8F8FF;
	}	
		#main-twin1{
			width: 325px;
			height: 200px;
			float: left;
			background: #DAA520;
			margin-right: 5px;
		}

		#main-twin2{
			width: 325px;
			height: 200px;
			float: left;
			background: #DAA520;
		}
#footer{
	width: 1000px;
	height: 150px;
	background: #9400D3;
	margin-bottom: 5px;
	color: #F8F8FF;
}		