@font-face{
	font-family: 'Anton';
	src: url('../font/Anton-Regular.ttf');
}
#container{
	width: 1300px;
	height: auto;
	margin: auto;
}
#head{
	width: 1300px;
	height: auto;
}
#banner{
	width: 1300px;
	height: 80px;
	background: #000000;
}
#banner-left{
	width: 433px;
	height: 80px;
	float: left;
}
.text-banner-left{
	font-size: 16px;
    color: #ADB0B6;
    line-height: 18px;
    margin: 32px 0px 0px 59px;
}
#banner-logo{
	width: 433px;
	height: 80px;
	float: left;
}
#img-logo{
	width: 113px;
    height: auto;
   	margin: 10px 0px 0px 100px;
}
#banner-right{
	width: 433px;
	height: 80px;
	float: left;
}
#icon-login{
	float: left;
	margin: 0px 0px 0px 73px;
}
#icon-register{
	float: left;
}

#menu{
	width: 1300px;
	height: 60px;
	float: left;
	font-family: 'Anton', sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
    background: #FFFFFF;
}
#menu ul li{
	list-style-type: none;
	float: left;
	font-size: 17px;
    padding: 0px 32px 0px 23px;
    letter-spacing: 0.32px;
    line-height: 30px;
}
#menu ul li a{
	text-decoration:none;
	color: #333333;
}
.img-menu{
	float: left;
	margin: 15px 0px 0px 0px;
}
#text-li1{
	float: left;
    margin: 15px 0px 0px 15px;
}
#menu ul li .a1-menu{
	color: #D5A353;
}
#menu ul .li1-menu{
	background: #D5A353;
    width: 132px;
    height: 60px;
    margin: -15.6px 0px 0px 4px;
}
#menu ul  li .a2-menu:hover{
	color: #D5A353;
}
#slider{
	width: 1300px;
	height: 700px;
}
#img-slider{
	width: 1300px;
	height: 640px;	
}
#prev{
	text-transform: uppercase;
    top: 308px;
    left: 21px;
    position: absolute;
}
#next{
	text-transform: uppercase;
	top: 308px;
	right:20px;
	position: absolute;
}
.img-btn-slider{
	width: 50px;
}
#text-slider{
	width: 1300px;
	height: 700px;	
	background:url("../img/slider/img1-slider.png");
}
#text-img-slider{
	letter-spacing: 1.14px;
    line-height: 88px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    color: #FFFFFF;
    width: 469px;
    padding: 98px 0px 0px 249px;
    display: inline-block;
}
#phone{
	width: 600px;
	height: 150px;
	position: absolute;
    top: 637px;
    left: 428px;
}
#title1-phone{
	width: 500px;
	height: 75px;
	float: left;
	background-color: white;
}
#img-phone{
	float: left;
	height: 58px;
	margin: 8px 0px 0px 14px;
}
#text1-phone{
	width: 413px;
    height: 47px;
    margin: 9px 0px 0px 0px;
    border: 1px solid white;
}
#text2-phone{
	width: 400px;
	font-family: 'Anton-Regular';
    font-size: 21px;
    color: #D5A353;
    letter-spacing: 0.61px;
    line-height: 71px;
    margin: 0px 0px 0px 71px;
}
#title2-phone{
	width: 500px;
	height: 75px;
	float: left;
	background-color: #000000;
	position: relative;
}
#a-phone{
	float: left;
	margin: 16px 0px 0px 434px;
	width: 50px;
}
#img2-phone{
	width: 50px;
	position:absolute;
    top: 10px;
}
/*end head*/
#contact{
	width: 1300px;
	height: 161px;
	background-color: #747474;
}
.contact-div{
	width: 432px;
	height: 200px;
	float: left;	
}
.text1-contact{
	font-size: 17px;
    color: #D5A353;
    letter-spacing: 0.32px;
    text-align: center;
    line-height: 23px;
    font-family: 'Anton', sans-serif;
}
.text2-contact{
	font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0.28px;
    text-align: center;
    line-height: 22px;
    font-family: 'Anton', sans-serif;
}
.text3-contact{
	font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0.46px;
    text-align: center;
    line-height: 32px;
    font-family: 'Anton', sans-serif;
}
.text4-contact{
	font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.25px;
    text-align: center;
    line-height: 21px;
    font-family: 'Anton', sans-serif;
}
/*end contact*/
#price{
	width: 1300px;
	height: 150px;
}
#title-price{
	width: 718px;
    height: 50px;
    font-family: 'Anton', sans-serif;
    font-size: 38px;
    letter-spacing: 0.61px;
    line-height: 9px;
    color: #000000;
    text-align: justify;
    float: left;
    margin: 0px 0px 0px 595px;
}
.home-price{
	width: 1290px;
	height: 100px;
	float: left;
}
.list1-price{
	width: 320px;
	height: 50px;
	float: left;
}
.img1-price{
	width: 39px;
	height: 50px;
	margin: 0px 0px 0px 138px;
}
.text1-price{
	font-size: 17px;
    color: #000000;
    letter-spacing: 0.32px;
    text-align: center;
    line-height: 11px;

}
.text2-price{
	font-family: 'Anton-Regular';
    font-size: 24px;
    color: #000000;
    letter-spacing: 0.46px;
    text-align: center;
    line-height: 32px;
}